<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/book/new" method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="title" ><br>
        <label for="lname">summary:</label><br>
        <input type="text" id="lname" name="summary" ><br><br>
        <label for="lname">pages:</label><br>
        <input type="number" id="lname" name="pages" ><br><br>
        <label for="lname">publication:</label><br>
        <input type="text" id="lname" name="publication" ><br><br>
        <label for="lname">cateygory:</label><br>
        <sub>select among: fiction, adventure, technology, motivation</sub>
        <input type="text" id="lname" name="cateygory" ><br><br>
        <label for="lname">imageURL:</label><br>
        <input type="file" name="cover_image"
            id="upload" accept=".jpeg,.jpg,.png">
        <input type="submit" value="Submit">
      </form> 
</body>
</html>

